html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000;
	background: #f3f3f3;
	flex-wrap: nowrap;
}


a {
	text-decoration: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 1314px;
	margin: 0 auto;
}

.header {
	height: 89px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.header > ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	box-sizing: border-box;
	padding: 0 38px;
	align-content: center;
}
.header > ul > li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 212px;
	height: 49px;
}

.header > ul > li.profile {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 175px;
	height: 49px;
}

.header > ul > li.ferma-img {
	background: linear-gradient(270deg, #162970 0%, #255390 99.28%);
}
.header-button {
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	box-sizing: border-box;
	border-radius: 5px;
}

.header-button a {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	font-weight: bold;
	line-height: 49px;
	padding-left: 13px;
}

.header-button.ferma-img a {
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-weight: bold;
	line-height: 49px;
	background-image: url("./../images/speed-meter-2.png");
	background-repeat: no-repeat;
	background-position: left 44px center;
	padding-left: 13px;
}


.ferma-img {
	background-image: url("./../images/speed-meter-2.png");
	background-repeat: no-repeat;
}

.vector-img {
	background: url("./../images/vector.png") no-repeat;
	background-position: left 44px center;
}

.settings-img {
	background: url("./../images/settings.png") no-repeat;
	background-position: left 44px center;
}

.info-img {
	background: url("./../images/info.png") no-repeat;
	background-position: left 44px center;
}

.profile a {
	color: #828282;
	font-weight: 500;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 49px;
	padding-left: 15px;
}

.profile-img {
	background: url("./../images/image-15.1.png") no-repeat;
	background-position: left 0px center;
}

.profile a:after {
	content: url("./../images/group-2.1.png");
	padding-left: 5px;
}


.profile.profile-img.profile-down a {
	box-sizing: border-box;
	padding-left: 44px;
	
}

.block1 {
	padding-top: 30px;
}

.block1 ul {
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	box-sizing: border-box;
	align-content: center;
	letter-spacing: 0.01em;
	line-height: 21px;
}
.block1 ul > li.greylist {
	padding-right: 43px;
}

.block1 h1 {
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	margin-right: 41px;
}

.block1 > ul > li.greylist {
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;
	opacity: 0.3;
	padding-left: 20px;
}

.greylist > span {
	display: inline-block;
	font-size: 18px;
	line-height: 29px;
	padding-right: 5px;
	margin-top: 5px;
}

.ltc-small {
	background: url("./../images/ltc-small.png") no-repeat;
	background-position: left  center;
}

.btc-small {
	background: url("./../images/btc-small.png") no-repeat;
	background-position: left  center;
}

.eth-small {
	background: url("./../images/eth-small.png") no-repeat;
	background-position: left  center;
}

li.block1-button {
	background: linear-gradient(270deg, #162970 0%, #255390 99.28%);
	box-shadow: 0px 8px 10px rgba(60, 84, 117, 0.15);
	border-radius: 20px;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	margin-left: 245px;
}


.block1-button a {
	font-weight: 500;
	font-size: 13px;
	display: block;
	text-align: center;
	width: 187px;
	height: 40px;
	line-height: 40px;
	padding-right: 0 !important;
	margin: 0 auto;
	box-sizing: border-box;
	
}

.block1-button a:before {
	content: "+   "

}

.all-card {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
    padding-left: 25px;

}

.card {
	margin: 0;
	padding: 0 13px 16px;
	height: 163px;
	width: 290px;
}

.big-card{
	width: 100%;
	height: 113px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
	border-radius: 5px;
}

.small-card {
	margin-top: 14px;
	width: 100%;
	height: 36px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
	border-radius: 5px;
	box-sizing: border-box;
	padding-left: 18px;
}

.small-card ul {
	margin: 0;
	padding: 0;
}

.cardlink {
	border: 2px solid #F2AE4B;
	box-sizing: border-box;
	box-shadow: 0px 8px 10px rgba(60, 84, 117, 0.15);
}

.small-card-ex {
	margin-top: 14px;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.binance {
	width: 143px;
	height: 36px;
	background-color: #FFFFFF;
	border: 2px solid #F3BA2F;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
	border-radius: 5px;
	background-image: url("./../images/binance.png");
	background-repeat: no-repeat;
	background-position: center;
}

.buysell {
	width: 138px;
	height: 36px;
	background-color: #00D56E;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
	border-radius: 5px;
	background-image: url("./../images/buysell.png");
	background-repeat: no-repeat;
	background-position: center;
 }

.card-text {
	padding: 15px 19px 18px 25px;
	height: 100%;
	box-sizing: border-box;
 }
	
.block1 .big-card .card-text > ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	align-items: flex-start;
	padding: 0;
	margin: 0;
	position: relative;
}	
	
.card-text > ul > li{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}


.card-text > ul > li:first-child {
	list-style: none;
	font-size: 16px;
	line-height: 19px;
	color: #828282;
	font-weight: normal;
}

.card-text > ul > li:last-child {
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	color: #4F4F4F;
}

.card-text span {
	font-size: 14px;
}

.big-card img {
	position: absolute;
    padding-left: 140px;
    padding-top: 35px;
}

.big-card img.mini-img {
	position: absolute;
    padding-left: 220px;
    padding-top: 0px;

}

.card-text > ul > li.marker:before {
	content: "•";
	color: #2F80ED;
}

.card-text > ul > li.marker-2:before {
	content: url("./../images/speed-meter-3.png");
}

.card-text > ul > li.marker-3:before {
	content: url("./../images/speed-meter-1.png");
}

input, label {
	vertical-align: middle;
}

label > span {
	opacity: 0.5;
}

.balance {
	margin-top: 39px;
	margin-left: 37px;
	display: flex;
	justify-content: flex-start;
}

.balance > ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	margin: 0;
	width: 110px;
	height: 53px;
	line-height: 16px;
	margin-right: 36px;
}	

.balance > ul > li {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #828282;
}

.balance > ul > li:last-child {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.balance span {
	font-size: 12px;
	opacity: 0.3;
	font-weight: bold;
}

.balance .marker-4:before {
	content: "• ";
	color: #27AE60;
}

.balance .marker-5:before {
	content: "• ";
	color: #255F80;
}

.balance .marker-6:before {
	content: "• ";
	color: #F2994A;
}

